<h1 class="text-center">Hackear as coisas</h1>
<div  class="row">
    <div class="col-sm-4">
        <img src="https://cdn.dicionariopopular.com/imagens/nazareconfusamatematica.gif">
    </div>
    <div class="col-sm-8">
        <form action="/results" method="POST">
            <div class="form-group">
                <label for="txtURL">URL</label>
                <input type="text" name="txtURL" id="URL"  class="form-control" required>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <label for="type">TIpo da tag</label>
                    <select class="custom-select" name="type" id="type" required>
                        <option value="Text" selected>Text</option>
                    </select>
                </div>
                <div class="form-group col-sm-8">
                    <label for="txtQuery">Query</label>
                    <input type="text" name="txtQuery" id="txtQuery"  class="form-control" required>
                </div>
                <div class="form-group col-sm-2">
                    <label for="selector">Seletor</label>
                    <select class="custom-select" name="selector" id="selector" required>
                        <option value=" " selected>tag</option>
                        <option value="#">id</option>
                        <option value=".">class</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success btn-block">Hackear agora</button>
            </div> 
        </form>
    </div>
</div>