<div class="col-sm-12 d-flex justify-content-between">
    <h1>Resultador de - <%= @url %></h1>
    <a href="/" class="btn btn-primary">Voltar</a>
</div>

<div class="card-container ">
    <% @data.each do |value| %>
        <div class="card bg-dark text-light">
            <div class="card-body">
                <div class="card-title">
                    <%= value %>
                </div>
            </div>
        </div>
    <% end %>
</div>